@charset "ISO-8859-1";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    color: #0056b3;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Container Styling */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Image Styling */
img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button Styling */
.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
    padding: 15px 30px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 50px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
    background-color: #004494;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Text Centering */
.text-center {
    text-align: center;
}

/* Responsive Styling */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .btn-primary {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .row {
        flex-direction: column;
    }

    .col-md-6 {
        max-width: 100%;
        margin-bottom: 20px;
    }
}
